<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Manager</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control input-underline input-lg"  placeholder="账号" [(ngModel)]="model.name" name="name"
               #name="ngModel" required/>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-underline input-lg"  placeholder="密码" [(ngModel)]="model.password" name="password" id="password" #password=ngModel required>
                    </div>
                    <input type="checkbox">下次自动登录
                </div>
                
                <a class="btn rounded-btn"  (click)="onLoggedin()"> 登录 </a>
                &nbsp;
                 <a class="btn rounded-btn" [routerLink]="['/resetpassword']">密码重置</a>
            </form>
        </div>
    </div>
</div>
