<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>重置密码</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="用户名">
                    </div>

                    <div class="form-group">
                        <input type="text" readonly="readonly" class="form-control input-underline input-lg" id="" placeholder="密码提示问题：">
                        <select class="form-control input-underline" style="color:rgba(255,255,255,0.6);"> 
                            <option>您父亲的生日？</option>
                            <option>您最喜欢的明星？</option>
                            <option>您的小学班主任？</option>
                            <option>您的配偶名字？</option>
                            <option>您最喜欢玩的英雄？</option>
                        </select>
                    </div>

                     <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="密码提示问题答案">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="新密码">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="确认密码">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> 确定 </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> 登录 </a>
            </form>
        </div>
    </div>
</div>
