.myspan1{
    float: right;
}
.myspan2{
    color: red;
}
#main_div{
    background-color: #d7e2e2;
    width: 600px;
    margin: 0 auto;
}
#tddiv{
    text-align: center;
}
body{
    background-color: #727677;
}
.myinput{
    width: 200px;
}